@font-face {
    font-family: 'title';
    src: url('HanzelBold.eot');
    src: url('HanzelBold.eot?#iefix') format('embedded-opentype'),
        url('HanzelBold.woff2') format('woff2'),
        url('HanzelBold.woff') format('woff'),
        url('HanzelBold.ttf') format('truetype'),
        url('HanzelBold.svg#HanzelBold') format('svg');
    /*font-weight: bold;
    font-style: normal;
    font-display: swap;*/
}

@font-face {
    font-family: 'text';
    src: url('HandelGothic.eot');
    src: url('HandelGothic.eot?#iefix') format('embedded-opentype'),
        url('HandelGothic.woff2') format('woff2'),
        url('HandelGothic.woff') format('woff'),
        url('HandelGothic.ttf') format('truetype'),
        url('HandelGothic.svg#HandelGothic') format('svg');
    /*font-weight: 500;
    font-style: normal;
    font-display: swap;*/
}

